version: '5.3'
services:
  bd:
    image: mysql:5.7
    container_name: db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 12345
      MYSQL_DATABASE: php
      MYSQL_USER: php
      MYSQL_PASSWORD: 12345
    volumes:
      
      - ./db/initdb.d:/docker-entrypoint-initdb.d/init.sql
      
      - db_data:/var/lib/mysql
    networks:
      - BarFer
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  
  web:
    build: ./web
    container_name: web
    ports:
      - "8080:80"
    depends_on: 
      bd:
        condition: service_healthy
    networks:
      - BarFer
    healthcheck: 
      test: ["CMD", "curl", "-f", "http://localhost/"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  db_data: 

networks:
  BarFer: 
    driver: bridge